
<h1 align="center"><%= [@count.to_s," of ", @size.to_s].join(' ')    %></h1>
<div id="imageForm" align="center"><img src="<%= @image.url %>"  width="50%"
     height="50%" ></div>
<div  id="Buttons" align="center">

 <button class="prev" >Prev</button>
  <button class="next">Next</button>

</div>
<a id="gohome" href="https://github.com/betkapolymorphic/Colored-Chicken/releases">Download PC client</a><br>
